.partner-slider{
    .slide{
        width: 230px;
        @media only screen and (max-width: 1024px) {
            margin: 0 auto;
        }
        .slide-item{
            @include border-radius(10px);
            background-color: #fff;
            overflow: hidden;
            padding:30px 0;
            text-align: center;
            margin-top: 25px;
            display: block;
            transition: all 0.5s;

            &:hover{
                opacity: 0.6;
            }

            .slide-img{
                min-height: 170px;
                @extend .flex-center;
                img{
                    max-width: 150px;
                }
            }
            .slide-name{
                font-size: 21px;
                line-height: 21px;
                color:#666666;
            }
        }

        
    }

    .owl-item:nth-child(even){
        .slide-item:first-child{
            @media only screen and (min-width: 1024px) {
                margin-top: 0;
            }
        }
    }

    .owl-nav{
        margin-top: 30px;
    }

    .owl-nav button.owl-prev, .owl-nav button.owl-next{
        width: 40px;
        height: 40px;
        @include border-radius(50px);
        border: 2px solid #CCCCCC;
        span{
            width: 100%;
            height: 100%;
            display: block;
            text-indent: -9999px;
            background: url('../images/left-arrow.svg') no-repeat center center;
        }
    }
    .owl-nav button.owl-next{
        span{
            transform: rotate(180deg);
        }
    }
}

#partner{
    .one-third{
        @include flexbox;
        @include justify-content(flex-end);
    }
    .sec-info{
        flex: 1;
    }
}