.ngViewContainer,.ngViewContent{height: 100%;}

body{
    &.popup-open{
        background-color: #00000060;
    }
}
.wrapper{
    width: 100%;
    @include flexbox;
    @include flex-direction(column);
}
.wrap{
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    @media only screen and (max-width: 1024px){
        width: 89%;
    }
}
.l-subsection,.l-subsection-h{
    height: 100%;
    width: 100%;
}
.l-subsection-h{
    padding: 80px 0;
    @media only screen and (max-width: 1024px){
        padding: 30px 0;
        width: 89.0%;
    }
    @extend .wrap;
    &.full-width{
        max-width: 100%;
    }
    &.pad0{
        padding: 0;
    }
}
.container{
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
    @include flexbox;
    @include flex-direction(column);
    position: relative;
    @media only screen and (max-width: 1024px){
        padding-top: 65px;
    }
}
.container-pad{
    padding:50px 20px;
    @include flexbox;
    @include flex-direction(column);
    flex: 1;
    overflow: hidden;
}

.about-us{
    @media only screen and (max-width: 1024px){
        width: 100%;
    }
    .about-us-img{
        @media only screen and (max-width: 1024px){
           img{
            width: 100%;
           }
        }
    }
}

#about-us{
    position: relative;
    &:before{
        position: absolute;
        content: '';
        background: url(/images/samen-2.png) no-repeat;
        width: 150px;
        height: 174px;
        bottom: 0;
        left: 30px;
        background-size: 90px;
        right: 0;
        @media only screen and (max-width: 1024px){
            display: none;
            width: 0;
            height: 0;
        }
    }
}

.intro-col{
    &.intro-wrap{
        position: relative;
        &:after{
            position: absolute;
            content: '';
            background: url(/images/samen.png) no-repeat;
            width: 150px;
            height: 174px;
            bottom: 0;
            right: 0;
            margin: auto;
            top: 0;
            background-size: 90px;
            @media only screen and (max-width: 1024px){
                display: none;
                width: 0;
                height: 0;
            }
        }
    }
    .intro-img{
        max-width: 500px;
        display: block;
        margin: 30px auto 40px;
        position: relative;
        @media only screen and (max-width: 1024px){
            max-width: 200px;
            margin: 0px auto 20px;
        }
    }
    .intro-content{
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        p{
            text-align: center;
            font: 400 30px/40px 'Playfair Display', sans-serif;
            letter-spacing: 0.36px;
            color: #0C4D43;
            opacity: 1;  
            @media only screen and (max-width: 1024px){
                font: 400 20px/30px 'Playfair Display', sans-serif;
            }
        }
    }
}

.sec-info{
    padding:40px 40px 40px 0;
    @media only screen and (max-width: 1024px){
        padding: 25px;
    }
}

.about-us-info{
    h2,p{
        color:#fff;
    }
    h6{color: #DCBE84;}
    p{
        font-size: 17px;
        line-height: 27px;
    }
}




.slick-slide{
    opacity: 0;
    &.slick-active{
        opacity: 1;
       transition: opacity 300ms ease-in-out;
    }
}


.sec-page{
    .l-subsection-h{
        padding: 50px 0;
        @media only screen and (max-width: 1024px){
            padding: 30px 0;
        }
    }
    .page-banner{
        // .l-subsection-h{
        //     padding: 50px 0;
        // }
        h1{
            color: #fff;
        }
        @media only screen and (max-width: 1024px){
            min-height: auto;
        }
    }
    .container{
        padding-top:120px;
        @media only screen and (max-width: 1024px){
            padding-top: 65px;
        }
    }
    .text-link{
        margin-top: 0;
        color: #0b6295;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        @media only screen and (max-width: 1024px){
            font-size: 14px;
            line-height: 20px;
        }
    }
    p{
        font-size: 16px;
        line-height: 24px;
        @media only screen and (max-width: 1024px){
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
        }
    }
}
.page-banner{
    background-color: $green-bg;
    @include flexbox;
    @include align-items(center);
    h1{
        color: #151515;
    }
}
.number-list{
    padding: 0 15px;
    margin: 15px 0 0px;
    li{
        list-style-type: decimal;
        font-weight: 700;
        color: #000;
        margin-bottom: 20px;
        &::marker {
            font-size: 18px;
            line-height: 24px;
            @media only screen and (max-width: 1024px){
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    strong{
        margin-bottom: 5px;
        display: block;
        font-size: 18px;
        line-height: 24px;
        @media only screen and (max-width: 1024px){
            font-size: 16px;
            line-height: 22px;
        }
    }
}
.roman-list{
    padding: 0 15px;
    margin: 10px 0 20px;
    li{
        list-style-type: lower-roman;
        font-weight: 700;
        color: #4a4a4a;
        margin-bottom: 15px;
        strong{
            font-size: 16px;
            line-height: 24px;
            color: #000;
            margin-bottom: 10px;
            display: block;
            @media only screen and (max-width: 1024px){
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
.alpha-list{
    padding: 0 15px;
    margin: 10px 0 20px;
    li{
        list-style-type: lower-alpha;
        font-weight: 600;
        color: #4a4a4a;
        margin-bottom: 10px;
    }
}

.services-list{
    .one-third{
        .services-img{
            margin-right: 10px;
            position: relative;
            overflow: hidden;
            display: block;
            cursor: pointer;
            @media only screen and (max-width: 1024px){
                margin-right: 0;
            }
            img{
                transition: all 0.5s;
                display: block;
                @media only screen and (max-width: 1024px){
                    margin: 0 auto;
                }
            }
            h3{
                position: absolute;
                text-align: center;
                // font: normal 600 40px/53px 'Playfair Display', sans-serif;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                width: 100%;
                bottom: 50px;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.col-info{
    max-width: 560px;
    @media only screen and (max-width: 1024px){
        max-width: unset;
    }
}

#our-team{
    .l-subsection-h{
        @media only screen and (max-width: 1024px){
            width: 100%;
        }
    }
}

.team-head{
    margin-bottom: 60px;
    position: relative;
    @media only screen and (max-width: 1024px){
        margin-bottom: 0;
    }
    &:after{
        position: absolute;
        width: 147px;
        height: 172px;
        content: '';
        background: url(/images/samen3.png) no-repeat;
        right: 0;
        top: 0;
        background-size: 100px;
        @media only screen and (max-width: 1024px){
            display: none;
        }
    }
}

.team-item{
    @media only screen and (max-width: 1024px){
       img{
        width: 200px !important;
        margin: 0 auto;
       }
    }
}

.team-wrapper{
    @media only screen and (max-width: 1024px){
        margin-bottom: 30px;
    }
}



.client-item{
    img{
        max-width: 141px;
        margin: 0 auto;
    }
}

#our-clients{
    @media only screen and (max-width: 1024px){
        padding: 30px 0;
        .g-cols{
            flex-direction: column-reverse;
        }
        .col-img{
            margin-bottom: 20px;
            img{
                display: block;
            }
        }
    }
}

.footer-banner-sec{
    .l-subsection-h{
        width: 100%;
    }
}

.partners-sec{
    .l-subsection-h{
        @media only screen and (max-width: 1024px){
            padding-bottom: 0;
        }
    }
    
    .owl-prev, .owl-next{
        @media only screen and (max-width: 1024px){
            border-radius: 50% !important;
            span{
                align-items: center;
                justify-content: center;
                line-height: 46px;
                width: 35px;
                display: flex;
                border-radius: 50%;
                height: 35px;
                font-size: 40px;
                position: relative;
                top: -2px;
                left: 2px;
            }
        }
    }
    .owl-prev{
        @media only screen and (max-width: 1024px){
            margin-right: 20px !important;
        }
        span{
            @media only screen and (max-width: 1024px){
                top: -2px;
                left: 0px;
            }
        }
    }
}

.contact-block{
    margin-bottom: 55px;
}

.contact-info{
    iframe{
        max-width: 430px;
        max-height: 430px;
        @media only screen and (max-width: 1024px){
            width: 100%;
            height: 100%;
        }
    }
}

.publisher-details{
    margin-bottom: 10px;
    span{
        font-size: 16px;
        line-height: 24px;
        color: #838383;
        font-weight: 400;
        display: block;
        @media only screen and (max-width: 1024px){
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.table-bordered{
    border: 1px solid #ddd;
    th, td{
        font-size: 16px;
        line-height: 24px;
        color: #838383;
        border: 1px solid #ddd;
        border-top: 0;
        font-weight: 400;
        padding: 15px 20px;
        @media only screen and (max-width: 1024px){
            font-size: 14px;
            line-height: 20px;
            padding: 10px;
        }
    }
    th{
        font-weight: 600;
        color: #000;
    }
}

.border-list{
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    li{
        position: relative;
        list-style-type: none;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 20px;
        color: #838383;
        font-weight: 400;
        &::before{
            content: '-';
            position: absolute;
            left: -15px;
        }
    }
}

.table-wrap{
    @media only screen and (max-width: 1024px){
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
}
.gtcs{
    .content-box{
        @media only screen and (max-width: 1024px){
            padding: 0px 25px;
        }
    }
    ol{
        counter-reset: item;
        li{
            display: block;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            color: #838383;
            margin-bottom: 20px;
            @media only screen and (max-width: 1024px){
                font-size: 14px;
                line-height: 20px;
            }
            &:before{
                content: counters(item, ".") ".";
                counter-increment: item;
                position: absolute;
                left: -40px;
                font-size: 18px;
                line-height: 24px;
                color: #000;
                @media only screen and (max-width: 1024px){
                    top: -2px;
                    font-size: 16px;
                    left: -25px;
                    line-height: 24px;
                }
            }
            strong{
                font-size: 18px;
                line-height: 24px;
                color: #000;
                margin-bottom: 5px;
                display: block;
                @media only screen and (max-width: 1024px){
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
    .counter-inner{
        @media only screen and (max-width: 1024px){
            padding-left: 10px;
        }
        li{
            margin-bottom: 10px;
            &:before{
                font-size: 16px;
                line-height: 24px;
                color: #838383;
                @media only screen and (max-width: 1024px){
                    font-size: 14px;
                    left: -34px;
                }
            }
        }
        .alpha-list{
            li{
                list-style-type: 'a';
                &:before{
                    // display: none;
                    list-style-type: 'a';
                    content: '';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

.alpha-low-list{
    .alpha-low-list-item{
        position: relative;
        margin-bottom: 10px;
        margin: 10px 0 10px 25px;
        i{
            font-style: normal;
            display: inline-block;
            left: -25px;
            position: absolute;
        }
    }
}

.legal-notice{
    strong{
        color: #000;
    }
    p{
        margin-bottom: 10px;
    }
    .market-logo{
        img{
            display: block;
            margin-top: 10px;
        }
    }
}

.client-list{
    flex-wrap: wrap;
    @media only screen and (max-width: 1024px){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: unset;
        .client-list-item{
            width: 50% !important;
        }
    }
    .client-list-item{
        margin-left: 0 !important;
        margin-right: 4%;
        @media only screen and (max-width: 1024px){
            margin-right: 0;
        }
        &:nth-child(5n){
            margin-right: 0;
        }
    }
}

.popup{
    max-width: 1280px;
    margin: auto;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 0px 49px #00000029;
    border-radius: 16px;
    z-index: 9999;
    max-height: calc(100vh - 100px);
    @media only screen and (max-width: 1024px){
        width: 89%;
    }
    .list-block{
        h2{
            @media only screen and (max-width: 1024px){
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
    .popup-head{
        margin-bottom: 50px;
        @media only screen and (max-width: 1024px){
            margin-bottom: 25px;
        }
        h2{
            color: #0C4D43;
            margin-bottom: 30px;
            font-weight: 600;
            font-size: 38px;
            line-height: 43px;
            @media only screen and (max-width: 1024px){
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 15px;
                font-weight: 600;
            }
        }
        p{
            color: #747D87;
            margin-bottom: 30px;
            @media only screen and (max-width: 1024px){
                margin-bottom: 15px;
            }
        }
    }
    .competence-list{
        padding-left: 20px;
        li{
            position: relative;
            font-size: 18px;
            letter-spacing: -0.09px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #747D87;
            @media only screen and (max-width: 1024px){
                font-size: 17px;
                line-height: 24px;
            }
            &:last-child{
                margin-bottom: 0;
            }
            &:before{
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: #747D87;
                content: '';
                border-radius: 50%;
                left: -20px;
                top: 6px;
            }
        }
    }
    .popup-body{
        display: flex;
        position: relative;
        overflow: hidden;
        @media only screen and (max-width: 1024px){
            flex-direction: column;
        }
        .close-icon, .carousel__button{
            top: 30px;
            display: block;
            position: absolute;
            right: 30px;
            cursor: pointer;
            background: url(/images/close-icon.png) no-repeat;
            @media only screen and (max-width: 1024px){
                padding: 5px 12px;
                top: 12px;
                background: #fff;
                padding: 5px 12px;
                border-radius: 50%;
                right: 15px;
                img{
                    width: 10px;
                }
            }
        }
        .l-col{
            width: 450px;
            @media only screen and (max-width: 1024px){
                width: unset;
                display: none;
            }
            span{
                max-width: 450px;
                display: block;
                img{
                    display: block;
                    // max-height: calc(100vh - 100px);
                    // width: 100%;
                }
            }
        }
        .r-col{
            width: 830px;
            max-height: calc(100vh - 100px);
            overflow: scroll;
            @media only screen and (max-width: 1024px){
                width: unset;
            }
            .r-col-pad{
                padding: 55px 55px 35px; 
                @media only screen and (max-width: 1024px){
                   padding: 25px;
                }
            }
        }
    }
}

.team-slider {
    .owl-item {
        filter: blur(8px);
        -webkit-filter: blur(8px);
        &.center{
            filter: blur(0);
            -webkit-filter: blur(0);
        }
    }
    .owl-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 50px;
        @media only screen and (max-width: 1024px){
            justify-content: center;
        }
        .owl-dot{
            display: none;
        }
        @media only screen and (max-width: 1024px){
            margin-top: 25px;
            .owl-dot{
                width: 15px;
                height: 15px;
                padding: 0;
                margin: 0;
                border-radius: 24px;
                border: 0;
                margin-right: 10px;
                display: block;
            }
        }
        .owl-prev, .owl-next{
            background: url(/images/team/right-arrow.png) no-repeat !important;
            opacity: 1;
            width: 106px;
            height: 25px;
            text-indent: -9999px;
            cursor: pointer;
            border: 0;
            @media only screen and (max-width: 1024px){
                background-size: 50px !important;
                background-position: center left !important;
                margin: 0;
            }
            &.disabled{
                opacity: 0.3;
            }
        }
        .owl-prev{
            transform: rotate(180deg);
            margin-right: 50px;
        }
       
    }
}

/* modfied fancybox css */
.fancybox__content{
    padding: 0 !important;
    .is-close{
        background: url(/images/close-icon.png) no-repeat;
        top: 30px !important;
        display: block;
        position: absolute !important;
        right: 30px !important;
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: transparent !important;
        @media only screen and (max-width: 1024px){
            padding: 5px 12px;
            top: 12px !important;
            background-color: #fff;
            padding: 5px 12px;
            border-radius: 50%;
            right: 15px !important;
            background-size: 50%;
            background-position: center;
            img{
                width: 10px;
            }
        }
    }
}







