.flex-center{
    @include flexbox;
    @include align-items(center);
    @include justify-content(center); 
}
.flex-align-top{
    @include flexbox;
    @include align-items(flex-start); 
}
.flex-align-right{
    @include flexbox;
    @include justify-content(right);
}
.flex-align-center{
    @include flexbox;
    @include align-items(center); 
}
.flex-valign-center{
    @include flexbox;
    @include justify-content(center); 
}
.flex-space-between{
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between); 
}
.flex-bottom{
    @include flexbox;
    @include align-items(flex-end);
    @include justify-content(center); 
}
.flex-direction-column{
    @include flexbox;
    @include flex-direction(column);
}
.align-left{
    align-items: flex-start !important;
}
.border-radius-8{
    @include border-radius(8px);
}


.loader{
    &::before{
        content: '';
        position: fixed; 
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6); 
        background-image: url('/images/loader.svg');
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 10; 
    }
}
.loader-box{
    @extend.flex-center; 
    @include flex-direction(column); 
    max-width: 200px;
    min-height: 100px;
    margin: 0 auto; 
    text-align: center;
    h5{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $black-col;
        letter-spacing: 0.2px;
        margin-bottom: 15px;
    }
    p{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #4C5980;
        letter-spacing: 0.2px; 
    }
}
.load-dots{
    position: absolute;
    left: 0;
    right:0;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        width: 10px;
        height: 10px;
        background-color: #0F96A2;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 2s ease-in-out infinite both;
        animation: sk-bouncedelay 2s ease-in-out infinite both;
        margin-right: 10px;

        &:last-child{margin-right: 0;}
    }

    .dot0{
        -webkit-animation-delay: -.48s;
        animation-delay: -.48s;
        background: #F46D21;
    }

    .dot1{
        -webkit-animation-delay: -.32s;
        animation-delay: -.32s;
        background: #99C12F;
    }

    .dot2{
        -webkit-animation-delay: -.16s;
        animation-delay: -.16s;
        background: #CD132C;
    }
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: translate(0,12px); }
    40% {
        -webkit-transform: translate(0,0); 
    } 
}
//   @keyframes sk-bouncedelay {
//     0%, 80%, 100% {
//       -webkit-transform: scale(0);
//       transform: scale(0); }
//     40% {
//       -webkit-transform: scale(1);
//       transform: scale(1); }  
//     }


.pg-loader{
    @extend.flex-center; 
    width: 100%;
    height: calc(100vh - 60px);
    
}
//radio button block
/* Hide the browser's default radio button */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-container input { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    left: 0; 
}
/* Create a custom radio button */
.radio {
    position: absolute;
    top: 0; 
    left: 0;
    height: 18px;
    width: 18px;
    background: url('/images/icons/radio.svg') no-repeat;
    transition: all .3s ease-in-out;
}
/* On mouse-over, add a grey background color */
    .radio-container:hover input ~ .radio {
    background: url('/images/icons/radio-active.svg') no-repeat;
}
/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio {
    background: url('/images/icons/radio-active.svg') no-repeat;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio:after {
    display: block;
}
.pageLoader {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F5F8;
    font-size: 38px;
    @extend .flex-center;
}
.loader-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .loader-ico{
        background: url('../images/icons/health-logo.svg') no-repeat center center;
        width: 32px;
        height: 32px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: 0 auto 20px;
    }
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .loader-text {
        font-size: 14px;
        line-height: 24px;
        color: $black-col;
        letter-spacing: -0.26px;
        width: 50px;
        margin: 0 auto;
    }
    .loader-text:after {
        content: ".";
        letter-spacing: -0.26px; 
        animation-name: loading-text;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}
@keyframes loading-text {
    0% {
        content: ".";
    }
    25% {
        content: "..";
    }
    50% {
        content: "...";
    }
    75% {
        content: "....";
    }
}

.grey-box{
    background: #ADDAE2;
    @include border-radius(16px);
    height:30px;
    font-weight: 400;
    font-size: 13px;
    color: #005F70;
    letter-spacing: -0.17px;
    width: 100px;
}

.sec-mid{
    max-width: 400px;
    width: 100%;
}
.light-blue-bg{
    background-color: $light-blue-col;
}