//veriables 
$black-col: #1d1d1d;
$grey-col:#838383;
$blue-col:#054268;
$light-blue-col:#F2F6F7;
$ex-light-blue-col:#EDF8FA;
$green-col:#0C4D43;
$light-green-col:#96cc67;
$white-col: #fff;
$dark-blue-col:#0F96A2;
$pink-col: #FF9B90;
$light-grey-col:#ECF0F3;
$red-col:#EF2D2D;
$orange-col:#F9B047;
$green-bg: #0C4D43;

