.header{
    // padding-top:20px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    @include flexbox;
    @include align-items(center);
    @media only screen and (min-width: 1024px){
        height: 120px;
    }
    @media only screen and (max-width: 1024px){
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 6px -2px #000;
        padding: 0;
    }    
    .logo{
        // filter: brightness(0) invert(1);
        transition: all 0.5;
        display: inline-block;
        margin-right: 30px;
        @media only screen and (max-width: 1024px){
            margin-right: 15px;
        }
        img{
            width: 159px;
        }
        @media only screen and (max-width: 1024px){
            // padding: 5px 0;
            filter:none;
            margin-left: 0px;
            img{
                width: 90px;
            }
        }   
    }
    .logo-wrap{
        display: flex;
        align-items: center;
    }
    .header-logo{
        position: relative;
        margin: 0 30px 0 0;
        @media only screen and (max-width: 1024px){
            margin: 0 15px 0 0;
        }
        &:after{
            height: 58px;
            width: 1px;
            content: '';
            position: absolute;
            bottom: 0;
            top: 0;
            margin: auto;
            background: #A2A2A2;
            @media only screen and (max-width: 1024px){
                height: 20px;
            }
        }
    }
    .social-media{
        display: flex;
        align-items: flex-end;
        a{
            margin-right: 20px;
            display: inline-block;
            &:last-child{
                margin-right: 0;
            }
            &:hover, &:active, &:focus{
                opacity: 0.7;
            }
            @media only screen and (max-width: 1024px){
                margin-right: 15px;
            }
        }
    }
}

.header.fixed {
    background: #fff;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);*/
    box-shadow: 0 2px 13px -4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 1s forwards; 
    // nav{
    //     li{
    //         a{
    //             // color: #181818;
    //             &:hover,&.active{
    //                 color: $light-green-col;
    //             }
    //         }
    //     }
    // }
    .logo{
        filter:none;
        //  padding:10px 0;
        @media only screen and (max-width: 1024px){
            // padding:5px 0;
        }
    }
    @media only screen and (min-width: 1024px){
        padding-top: 0;
    }
    
}

@keyframes smoothScroll {
    0% {
      transform: translateY(-70px); }
    100% {
      transform: translateY(0px); } }

.header-pad{
    @extend .wrap;
    @media only screen and (min-width: 1024px){
        position: relative;
    }
}
.head-links{
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
}

.back-link, .blank-col{
    width: 60px;
    height: 60px;
    @extend .flex-center;
}

.content-head{
    min-height: 50px;
    background-color: $light-blue-col;
    @include flexbox;
    @include align-items(flex-end);
    padding: 0 25px;
    &.no-pad{
        padding:0;
    }
}
